/*Document Elements*/

body {
  background-color: #F0F0F0;
}

/*Interface*/

canvas {
  position:absolute;
  top:0; left:0;
  cursor:crosshair;
}
  #canvas_urndr { z-index:  10; }
  #canvas_three { z-index: -10; }

#GUI, #HUD {

  position: fixed;
  top: 1em;

  padding: .5em;
  border: 1px solid #999;

  font-family: "Menlo", sans-serif;
  font-size: 9pt;
  color: #666;

}

#GUI {
  z-index: 30;
  right: 1em;
}

#HUD {
  z-index: 20;
  left:1em;
}

/*Minor Objects*/

#WACOM {
	position: absolute;
	left: -999px; top: -999px;
	width: 0; height: 0;
}

/* addtional classes */

.hide {
  display: none;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}