/*Document Elements*/

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #333;
  line-height: 15.625px;
}

hr {
  clear: both;
  border: 0;
  height: 4.5px;
}

a,a:visited {color: #333;}
a:hover, a:active {background-color: #FF0;}

ul, li {
  margin: 15.625px 0 0 0;
  padding:0;
  list-style:none;
}

p, li {margin: 0 0 15.625px 0;}

h1,h2,h3,h4 {margin: 0; padding: 0;}
  h1 {
    font-weight: 500;
    margin-bottom: 0.2em;
    font-size: 1.66em;
  }
  h2 {
    font-size: 1.2em;
    font-weight: 300;
  }
  h3 {
    text-align: center;
    clear: both;
    font-size: 1.7em;
    padding: 0;
  }
    h3:first-child {padding-top: 0;}
    h3 i {height: 100%;}
  h4 {text-decoration: underline;}

/*Interface*/

.outer_wrapper {
  position: relative;
  width: 750px;
  margin: 22.5px auto;
}

.section {
  width: 750px;
  margin-bottom: 9px;
  position: relative;
}
.section:after {
  content: "";
  display: table;
  clear: both;
}

.header { margin-bottom: 22.5px; }

.sidebar {
  width: 116px;
  position: absolute;
  top: 0;
}
  .sidebar.left {
    left: 0;
    padding-right: 9px;
  }
  .sidebar.right {
    right: 0;
    padding-left: 9px;
  }
  .hudWrapper {
    position: absolute;
    bottom: 0;
    width:104px;
  }
  #HUD {
    height: 60px;
    margin-top: 4px;
    line-height: 28px;
  }
  /*.sidebar button,
  .sidebar span,
  .sidebar input,
  .sidebar label,
  .sidebar .btnGroup {
    display: block;
    position: relative;
    /*float: left;*/

    height: 30px;

    padding: 0; margin: 0 0 1px 0;

    line-height: 30px;

    font-weight: 500;
    text-align: center;
  }
  .sidebar h3 {
    height: 32px;
    line-height: 32px;
  }
  .sidebar p {text-align: justify;}*/

.middle {
  margin-left: 125px;
  width: 500px;
}

.canvas_container {
  width: 500px;
  height: 500px;
  position: relative;
  margin-left: 125px;
}
  #tutorial, canvas {
    position: absolute;
    top:0; left:0;
    cursor: url(../img/cursor-full.png) 16 16, crosshair;
  }

#tutorial {
  width: 500px;
  height: 500px;
  background: rgba(0,0,255,1);
  color: #FFF;
  cursor: help;
}

.showcase {}
  .showcase:after {
    content: "";
    display: table;
    clear: both;
  }
  .showcase .item {
    float: left;
    margin: 0 0 9px 0;
    padding: 0;
    width: 244px;
    height: 244px;
    overflow: hidden;
    position: relative;
  }
  .showcase .item:nth-child(3n+1) { /* 1,4,7... */
    margin-right: 4.5px;
  }
  .showcase .item:nth-child(3n+2) { /* 2,5,8... */
    margin: 0 4.5px 9px 4.5px;
  }
  .showcase .item:nth-child(3n) {   /* 3,6,9... */
    margin-left: 4.5px;
  }
    .showcase .item img {
      width: 244px;
      height: 244px;
    }
    .showcase .item .bar {
      display: none;

      background: #FFF;
      position: absolute;
      top: 0; right: 0;
      width: 30px; height: 60px;
    }
      .showcase .item:hover .bar {
        display: block;
      }
        .showcase .item .bar a {
          display: block;
          width: 25px; height: 25px;
          padding: 2.5px;
          overflow: hidden;

          text-decoration: none;
          text-align: center;
          color: #333;
          line-height: 25px;
          font-size: 18px;
        }
          .showcase .item .bar a:hover {
            background: yellow;
          }

/*Minor Objects*/

#WACOM {position: absolute;left: -999px; top: -999px;width: 0; height: 0;}

/* addtional classes */

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.center { text-align: center; }
.clear { clear: both; }

.float-left { float: left; }
.float-right { float: right; }

/* Modular Layout Classes */
.p100 { width: 100%; }
.p75 { width: 75%; }
.p66 { width: 66.66%; }
.p50 { width: 50%; }
.p33 { width: 33.33%; }
.p25 { width: 25%; }

.float-left {}
  .float-left.p50 p,
  .float-left.p33 p,
  .float-left.p66 p,
  .float-left.p75 p,
  .float-left.p25 p {
    margin-right: 9px;
  }
