/*Document Elements*/

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 12px;
}

button {
  font-size: 12px;
  padding: 0;
  margin: 0;
  /*background: white;*/
}

hr {
  clear: both;
  border: 0;
  height: 1px;
  background: #CCC;
}

h1,h2,h3 {margin: 0; padding: 0;}

h1 {
  font-size: 2em;
  font-weight: 500;
}
h2 {
  font-size: 1.5em;
  font-weight: 300;
}
h3 {
  font-size: 1em;
  text-align: center;
}
.sidebar em{
  font-size: 1em;
  font-weight: 500;
  font-variant: normal;
  font-style: normal;
}

/*Interface*/

.outer_wrapper {
  width: 750px;
  min-height: 500px;

  margin: 45px auto;

  position: relative;
}

.workspace, .showcase {
  width: 750px;
  margin-bottom: 9px;
}
.workspace {
  position: relative;
}
.showcase {}

.sidebar {
  width: 120px;
  height: 500px;

  position: absolute;
  top: 0;
}
  .sidebar.left {
    left: 0;
    padding-right: 5px;
  }
  .sidebar.right {
    right: 0;
    padding-left: 5px;
  }
  #HUD {
    /*text-align: center;*/
    height: 60px;
  }
  .sidebar h3 {
    clear: both;
    font-size: 1.5em;
    padding: 9px;
  }
  .sidebar button, .sidebar span, .sidebar input {
    display: block;
    float: left;
    height: 30px;
    width: 120px;
    padding: 0; margin: 0;
  }
  .sidebar span {
    line-height: 30px;
    font-weight: 500;
    text-align: center;
  }
  .sidebar .compress { font-size: 90%; }
  .sidebar .half { width: 60px; }
  .sidebar .third { width: 40px; }
  .sidebar .half_third { width: 90px; }
  .sidebar .fourth { width: 30px; }

.canvas_container {
  width: 500px;
  height: 500px;
  position: relative;
  margin-left: 125px;
}
  canvas {
    position: absolute;
    top:0;
    left:0;

    cursor: crosshair;
  }
    #canvas_hud   { z-index: 2; }
    #canvas_urndr { z-index: 1; }
    #canvas_three { z-index: 0; }

.showcase {
}
  .showcase .item {
    float: left;
    margin: 0 0 9px 0;
    padding: 0;
    width: 244px;
    height: 244px;
    overflow: hidden;
    position: relative;
  }
  .showcase .item img {
    width: 244px;
    height: 244px;
  }
  .showcase .item:nth-child(3n+1) { /* 1,4,7... */
    margin-right: 4.5px;
  }
  .showcase .item:nth-child(3n+2) { /* 2,5,8... */
    margin: 0 4.5px 9px 4.5px;
  }
  .showcase .item:nth-child(3n) {   /* 3,6,9... */
    margin-left: 4.5px;
  }
  .showcase .item .bar {
    display: none;

    background: #FFF;
    position: absolute;
    top: 0; right: 0;
    width: 30px; height: 60px;
  }
  .showcase .item:hover .bar {
    display: block;
  }
  .showcase .item .bar a {
    display: block;
    width: 25px; height: 25px;
    padding: 2.5px;
    overflow: hidden;
    
    text-decoration: none;
    text-align: center;
    color: #333;
    line-height: 25px;
    font-size: 18px;
  }
  .showcase .item .bar a:hover {
    background: yellow;
  }

/*Minor Objects*/

#WACOM {
	position: absolute;
	left: -999px; top: -999px;
	width: 0; height: 0;
}

/* addtional classes */

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.hide {
  display: none;
}

.clear {
  clear: both;
}

/* extension on Font Awesome */

.ani-reverse {
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}