/*Document Elements*/

body {
  background-color: #F0F0F0;
}

/*Interface*/

canvas {
  position:absolute;
  top:0; left:0;
  cursor:crosshair;
}
  #canvas_hud { z-index:  20; }
  #canvas_urndr { z-index:  10; }
  #canvas_three { z-index: -10; }

.UIContainer {

  position: fixed;
  top: 1em;

  padding: .5em;
  border: 1px solid #999;

  font-family: "Menlo", sans-serif;
  font-size: 10px;
  color: #666;

}

#HUD {
  z-index: 29;
  left: 1em;
}

/*Minor Objects*/

#WACOM {
	position: absolute;
	left: -999px; top: -999px;
	width: 0; height: 0;
}

/* addtional classes */

.hide {
  display: none;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/*GUI Elements*/

#GUI {
  width: 100px;
}

#GUI ul {
  margin: 1em 0;
  padding: 0;
  list-style: none;
}

#GUI input, #GUI button {
  width: 100%;
  border: 1px solid #666;
  background: rgba(0,0,0,0);
  margin-top: -1px;
}

#GUI input[type=checkbox] {
  width: 1em;
}