.onoffswitch {
    position: relative; width: 60px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox { display: none; }
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #333333; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 24px; padding: 0; line-height: 24px;
    /*font-size: 15px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;*/
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "";
    padding-left: 5px;
    /*background-color: #FFFFFF; color: #FFFFFF;*/
}
.onoffswitch-inner:after {
    content: "";
    padding-right: 5px;
    /*background-color: #FFFFFF; color: #FFFFFF;*/
    /*text-align: right;*/
}
.onoffswitch-switch {
    display: block; width: 17px; margin: 3.5px;
    background: #FFFFFF;
    border: 2px solid #333333; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 32px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
    background-color: #FFFF00; 
}